<h2 class="display-2">Login</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_tag "/login" do %>
        <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field :password, nil, class: 'form-control' %>
        </div>
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>